* {
    box-sizing: border-box;
    margin: 0;
    padding:  0;
}
body {
    font-family: century gothic, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}
p {
    text-align: justify;
}


nav {
    z-index: 1;
    top: 0;
    position: sticky;
}

nav ul {
    background-color: #2c3e50;
    color: white;
    width: 100%;
    
}
nav li {
    padding: 15px;
    display: inline-block;
}
nav li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}
nav li a:hover{
    color: orange;
}








header {
    color: white;
    width: 100%;
    
}
header .bimg .hbox1 {

    margin-top: 100px;
    width: 60%;
    height: 300px;
    float: left;
    
    
}
header .bimg .hbox1 h1 {
    text-align: center;
}
header .bimg .hbox1 h4 {
    text-align: center;
}




header .bimg .hbox2 {

    width: 40%;
    height: 300px;
    float: left;
    
}
header .bimg .hbox2 img {
    margin: 27px;
    margin-left: 117px;
    width: 50%;
    height: 250px;
    border-radius: 5px;
}

.bimg {
    z-index: 9;
    background-image: url("assets/images/homeBG.jpg");
    display: inline-block;
    width: 100%;
    height: 300px;
  
}












.left {
    width: 20%;
    padding: 20px;
    float: left;
    text-align: center;
}
.left h3 {
    font-weight: lighter;
    font-style: italic;
}
.main {
    padding: 20px;
    width: 60%;
    float: left;
    text-align: left;


}
.right {
    padding: 20px;
    width: 20%;
    float: left;
    text-align: left;

}

.right a {
    color: white;
    text-decoration: none;
}
.right p a:hover {
    color: orange;
}


.fleft {
    width: 29%;
    padding: 20px;
    float: left;
    text-align: center;


}
.fleft ul {
    list-style-type: none;
    
}
.fleft li {
    line-height: 30px;
    display: block;
}
.fleft a {
    color: white;
    text-decoration: none;
}
.fleft li a:hover {
    color: orange;
}


.fmain {
    padding: 20px;
    width: 69%;
    float: left;
    text-align: center;
    margin-top: 40px;


}














.box1 {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    display: inline-block;
    padding: 80px;
}



.box2 {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    display: inline-block;
    padding: 80px;
}
.box2 button {
    border-radius: 20px;
    padding: 12px 45px 12px 45px;
    background-color: #2c3e50;
    cursor: pointer;
    color: white;
}
.box2 button:hover{
    color: orange;
    background-color: #4a5f75;
}







.box3 {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    display: inline-block;
    padding: 80px;
}
.box3 .buttonf {
    width: 100%;
    border-radius: 5px;
    padding: 12px 45px 12px 45px;
    background-color: #2c3e50;
    cursor: pointer;
    color: white;
}
.box3 .buttonf:hover{
    color: orange;
    background-color: #4a5f75;
}








.box4 {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    display: inline-block;
    padding: 80px;
}
.box4 .main input, .box4 .main textarea {
    width: 100%;
    margin: 15px;
    padding: 7px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}
.box4 .main input[type=submit] {
    padding: 12px;
    background-color: #2c3e50;
    color: white;
}
.box4 .main input[type=submit]:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: black;
}










.box5 {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    display: inline-block;
    padding: 80px;
}



.box6 {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    display: inline-block;
    padding: 80px;
}
.box6 .buttone {
    width: 100%;
    border-radius: 5px;
    padding: 12px 45px 12px 45px;
    background-color: #2c3e50;
    cursor: pointer;
    color: white;
}
.box6 .buttone:hover{
    color: orange;
    background-color: #4a5f75;
}








footer {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    display: inline-block;
    padding: 50px;
}
footer .fmain p {
    text-align: center;
}
.vl {
    width: 2%;
    float: left;
    border-left: 1px solid white;
    height: 180px;
    
  }










/* Modal for services */

/* The Modal (background) */
.modal {
  z-index: 1; /* Sit on top */
  box-shadow: 5px 5px 5px #d4d4d4;
  width: 100%; /* Full width */
  height: 600px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
}


.modal .modal-header {
    background-color: #2c3e50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.modal .modal-header .title {
    padding: 10px;
    color: white;
    
}



/* Modal Content */
.modal-content {
  border-radius: 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
 
  width: 100%;
}

.modal-content .modal-list {
    font-size: 15px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 5px;
    background-color: #2c3e50;
    width: 90%;
    display: inline-block;
}
.modal-content .modal-list h6 {
    font-size: 16px;
}
.modal-content .modal-list p {
    text-align: right;
    padding: 3px;
    width: 9%;
    margin-top: 10px;

}
.modal-content .modal-list a {
    text-align: right;
    color: orange;
    text-decoration: none;
}
.modal-content .modal-list a:hover {
    color: rgb(255, 199, 95);  

}

.modal-content .modal-list a input[type=submit] {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: red;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content .modal-list a input[type=submit]:hover {
 
    color: white;
    background-color: #971301;
  
}









/* modal for forum */
.modalf {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: #fefefe;
  }
  .modalf .modal-headerf {
    background-color: #2c3e50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 90%;
}

.modalf .modal-headerf .titlef {
    padding: 10px;
    color: white;
    
}












/* modal for forum */
.modalf {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modalf .modal-headerf {
    background-color: #2c3e50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 90%;
}

.modalf .modal-headerf .titlef {
    padding: 10px;
    color: white;
    
}
  
  
  
  
  /* Modal Content for forum */
  .modal-contentf {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }


  .modal-contentf .modal-list-forum .row::after {
    content: "";
	display: table;
	clear: both;
  }
  .modal-contentf .modal-list-forum .col-25 {
    margin-top: 15px;
    width: 25%;
    float: left;
}
.modal-contentf .modal-list-forum .col-75 {
    margin-top: 15px;
    width: 70%;
    float: right;
}

.modal-contentf .modal-list-forum .row label {
    font-size: 20px;
	padding: 15px 15px 15px 20px;
	display: inline-block;
}

.modal-contentf .modal-list-forum .row textarea {
	width: 100%;
    height: 150px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.modal-contentf .modal-list-forum .row input[type=submit] {
    margin-top: 15px;
	float: right;
	background-color: #2c3e50;
	color: white;
	padding: 15px 25px;
	border: none;
	border-radius: 4px;
}

.modal-contentf .modal-list-forum .row input[type=submit]:hover {
	background-color: #aaa;
}


 /* The Close Button for event*/
 .closef {
    margin-top: -35px;
    opacity: 0.6;
    border-radius: 75%;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closef:hover,
.closef:focus {
    opacity: 1;
  color: red;
  text-decoration: none;
  cursor: pointer;
}





  
  
  
  
  
  /* The Close Button for forum*/
  .close {
      margin-top: -35px;
      opacity: 0.6;
      border-radius: 75%;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      opacity: 1;
    color: red;
    text-decoration: none;
    cursor: pointer;
  }







  /* modal for event */
.modale {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modale .modal-headere {
    background-color: #2c3e50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 90%;
}

.modale .modal-headere .titlee {
    padding: 10px;
    color: white;
    
}
  
  
  
  
  /* Modal Content for event */
  .modal-contente {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }


  .modal-contente .modal-list-event .row::after {
    content: "";
	display: table;
	clear: both;
  }
  .modal-contente .modal-list-event .col-25 {
    margin-top: 15px;
    width: 25%;
    float: left;
}
.modal-contente .modal-list-event .col-75 {
    margin-top: 15px;
    width: 70%;
    float: right;
}

.modal-contente .modal-list-event .row label {
    font-size: 20px;
	padding: 15px 15px 15px 20px;
	display: inline-block;
}

.modal-contente .modal-list-event .row textarea {
	width: 100%;
    height: 150px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.modal-contente .modal-list-event .row input[type=submit] {
    margin-top: 15px;
	float: right;
	background-color: #2c3e50;
	color: white;
	padding: 15px 25px;
	border: none;
	border-radius: 4px;
}

.modal-contente .modal-list-event .row input[type=submit]:hover {
	background-color: #aaa;
}






  
  
  
  
  
  /* The Close Button for event*/
  .closee {
      margin-top: -35px;
      opacity: 0.6;
      border-radius: 75%;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closee:hover,
  .closee:focus {
      opacity: 1;
    color: red;
    text-decoration: none;
    cursor: pointer;
  }














  
  
  


  .fimg-wrapper {
    overflow: auto;
    width: 100%;
    height: 570px;
  }



  .fimg {
    margin-bottom: 20px;
    z-index: 10;
    color: white;
    border-radius: 4px;
    box-shadow: 4px 5px 5px #c7c7c7;
    width: 100%;
    opacity: 0.8;
    background-image: url('assets/images/signup.jfif');
    background-attachment: fixed;
   
}
.fimg p {
    padding: 20px;
    margin: 5px;
    text-align: justify;
    text-indent: 10px;
}

.fimg a input[type=submit] {
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 20px 0 0 20px;
    background-color: orange;
    cursor: pointer;
}
.fimg a input[type=submit]:hover {
    color: white;
    background-color: #971301;
}












/* Search for services */

.search {
    display: block;
}
.search input[type="text"] {
    width: 40%;
}

.search input[type="text"], .search input[type="submit"] {
    padding: 12px;
    margin: 5px;
}
.search input[type="submit"] {
    border-radius: 10px;
    color: white;
    background-color: #2c3e50;
}

.search input[type="submit"]:hover {
    background-color: #50708f;
}


/* applicant files */
.main .app-files {
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 100%;
    height: 570px;
    padding: 10px 20px 10px 10px;
    overflow: auto;
}
.main .app-files .app-file-list {
    border-radius: 5px;
    background-color: #e6e6e6;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 12px;

}
.main .app-files .app-file-list ul li {
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    
}
.main .app-files .app-file-list ul li input[type=submit] {
    padding: 10px;
    border-radius: 5px;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
   
    
}
.main .app-files .app-file-list ul li .input-approve:hover{
    background-color: #056d4a;
    color: white;
}
.main .app-files .app-file-list ul li .input-reject:hover {
    background-color: #971301;
    color: white;
}


.main .app-files .app-file-list ul li a {
    color: orange;
    text-decoration: none;
    
}
.main .app-files .app-file-list ul li a:hover {
    color: orange;
    text-decoration: underline;
    
}


/* for app-files right view all  */

/* The Modal (background) */
.modala {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-contenta {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .closea {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closea:hover,
  .closea:focus {
    color: #971301;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-headera {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 20px;
      margin: auto;
      background-color: #2c3e50;
      width: 80%;
      height: 50px;
  }
.modal-headera span{
    margin-top: -12px;
}
.modala .modal-contenta .right-viewall {
    color: black;
    padding: 15px;
    
   
}
.modala .modal-contenta .right-viewall ul{
    padding: 5px;
    box-shadow: 5px 5px 5px #aaa;
    background-color: #2c3e50;
    color: white;
}
.modala .modal-contenta .right-viewall ul li {
    list-style-type: none;
    text-decoration: none;
}
.modala .modal-contenta .right-viewall ul li a{
   color: orange;
}
.modala .modal-contenta .right-viewall ul li a:hover {
    color: rgb(255, 198, 93);
 }
.right-app {
    cursor: pointer;
    box-shadow: 1px 1px 5px #aaa;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #c7c7c7;
}
.right-app:hover {
    color: orange;
    background-color: #2c3e50;
}
/* end  */













  .blocker {
    clear: both !important;
}