


@media screen and (max-width: 1000px) {
    .rightname {
        display: none;

    }
    
}


@media screen and (max-width: 1257px) {
    .fimg {
        width: 100%;
    }
    
}





/*MAIN responsive */
@media screen and (max-width: 1150px) {
    header .bimg .hbox2 img {
        margin-left: 105px;
        width: 57%;

    }
    
}

 /*MAIN responsive */
@media screen and (max-width: 991px) {
    header .bimg .hbox2 img {
        margin-left: 76px;
        width: 63%;

    }
}





  /* registration  */

  @media screen and (max-width:960px){
    .col-25, .col-75, .row input[type=submit], .form-wrapper{
        width:100%;
        margin-top: 0;
    }
    
}
/* end registration */





/* modal */
@media screen and (max-width:960px){
    .search input[type=text], .search input[type=submit] {
        width: 100%;
    }
    .modal-content .modal-list {
        width: 100%;
    }
    
}
/* end modal */




/*MAIN responsive */
@media screen and (max-width: 850px) {
    header .bimg .hbox2 img {
        margin-left: 45px;
        width: 75%;

    }
    
}

@media screen and (max-width: 850px){
    .left, .main, .right, .fleft, .fmain, header .bimg .hbox1, header .bimg .hbox2{
        width: 100%;
    }

    header .bimg .hbox2 {
         opacity: 1; 
         display: none;
        }
     
    .vl {
        border-bottom: 1px solid white;
        height: 0;
        width: 100%;
    }
    
}





 /* login */
 @media screen and (max-width:710px) {
    .col-100, .col-60 {
        display: none;
    }
    .container, .col-40 {
        width: 100%;
    }
    
}

/* end login */


















  

   














   
